div {
    width: 200px;
    height: 200px;
}

.div_1 {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_2 {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_3 {
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


